<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}">
    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>
<body>

</body>
</html>

<div class="container rounded mt-5 bg-white p-md-5">
    <div class="h2 font-weight-bold">Maintainance CheckList for Monday 23/01/2020</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Part Name</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-blue">
                    <td class="pt-2">
                        <div class="pl-lg-5 pl-md-3 pl-1 name">Gear</div>
                    </td>
                    <td class="pt-3"><span class="fa pl-3"><input type="checkbox" name="check"></span></td>
                    <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>
                <tr class="bg-blue">
                    <td class="pt-2"> 
                        <div class="pl-lg-5 pl-md-3 pl-1 name">Oil and Coolant level</div>
                    </td>
                    <td class="pt-3"><span class="fa pl-3"><input type="checkbox" name="check"></span></td>
                    <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>
                <tr class="bg-blue">
                    <td class="pt-2"> 
                        <div class="pl-lg-5 pl-md-3 pl-1 name">Oil and Filters</div>
                    </td>
                    <td class="pt-3"><span class="fa pl-3"><input type="checkbox" name="check"></span></td>
                    <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
                </tr>
                <tr id="spacing-row">
                    <td></td>
                </tr>
                <tr class="bg-blue">
                    <td class="pt-2"> 
                        <div class="pl-lg-5 pl-md-3 pl-1 name">Head Light</div>
                    </td>
                    <td class="pt-3"><span class="fa pl-3"><input type="checkbox" name="check"></span></td>
                    <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>